.dash {
  width: 100%;
  min-width: 320px;
  text-align: center;
  vertical-align: center;
  position: fixed;
  height: 50px;
  margin: 0;
  background-color: #00c0c0;

}
button {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: aqua;
  color: #505050;
  padding: 0;
  border: solid 1px  #009090;
  font-weight: 600;
  font-size: 16px;
  font-family: Arial;
}

.more, .less {
  width: 30px;
  min-width: 30px;
}
.more {
  border-right:  #009090 1px  dashed;
}
.less {
   border-left: #009090 1px  dashed;
 }

#help {
  position: absolute;
  top: 50px;
  width: 100%;
}

#guider {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 200%;
}

#legend {
  text-align: left;
  font-size: smaller;
  border: solid gray 1px;
  width: 260px;
  padding-left: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#authors {
  margin: 20px auto;
  font-size: smaller;
  width: 280px;
  padding-left: 10px;
}


#help h2, h3{
  color: #009090;
}
