.dash {
  width: 100%;
  min-width: 320px;
  text-align: center;
  vertical-align: center;
  position: fixed;
  height: 50px;
  margin: 0;
  background-color: #00c0c0;
}
button {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: aqua;
  padding: 0;
  border: solid 1px  #009090;
}

.more, .less {
  width: 30px;
  min-width: 30px;
}
.more {
  border-right:  #009090 1px  dashed;
}
.less {
   border-left: #009090 1px  dashed;
 }

#help {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 50px;
  width: 100%;
}
