button {
  height: 50px;
  background-color: aqua;
  border: solid 1px black;

}
ul {
  position: absolute;
  left: 50px;
  z-index: 2;
  list-style-type: none;
  overflow: auto;
  border: 1px green solid;
  padding-inline-start: 0px;

}
li {
  width: 150px;
  height: 30px;
  background-color: aqua;

}


.visible {
  display: block;
}
.hidden {
  display: none;
}
